
.h1{
    font-family: "dm serif display", serif;
    color: #384a62;
    font-size: 35px;
    font-weight: 600;
}
.h6{
    font-weight: 600;
    color: #384a62;
}
.p{
    color: #677f9e;
    font-weight: 400;
}